<h1>Appointment Scheduled?</h1>
<section>
  <h3 id="yes">Yes</h3>
  <h3 id="no">No</h3>
</section>
<section class="yes">
  <h3>Refferral Required?</h3>
  <button type="button" name="button">Yes</button>
  <button type="button" name="button">No</button>
  <p>PCP Info: <input type="text" name="name"></p>
  <p>Insurance Type: <input type="text" name="name"></p>
  <p>Appt. Date: <input type="text" name="name"></p>
  <label for="notes">Notes</label><br>
  <textarea name="notes" rows="8" cols="40"></textarea>
  <a class="done" href="/"><button type="button" name="button">Done</button></a>
</section>
<section class="no">
  <p>Insurance Issue</p>
  <input type="text" name="name">
  <p>Other</p>
  <input type="text" name="name">
  <p>Does the patient need follow up?</p>
  <button type="button" name="button">Yes</button>
  <button type="button" name="button">No</button>
  <p>When? Date/Time</p>
  <input type="text" name="name">
  <label for="notes">Notes</label><br>
  <textarea name="notes" rows="8" cols="40"></textarea>
  <a class="done" href="/"><button type="button" name="button">Done</button></a>
</section>
