<h1>New Call</h1>
<h3>Current Date and Time:<span id="date" data-date="moment().format("MMMM DD YYYY, h:mm:ss a")";></span></h3>
<form action="index.html" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="number">Number</label>
  <input type="text" id="number" name="number">
</form>
<a href="/newPatient"><section class="newPatient">
  <h2>New Patient</h2>
</section></a>
<a href="/existingPatient"><section class="newPatient">
  <h2>Existing Patient</h2>
</section></a>
<a href="/other"><section class="newPatient">
  <h2>Other</h2>
</section></a>
