<h1>New Patient</h1>
<h2>How did you hear about us?</h2>
<section class="referral">
  <h3>TV</h3>
  <select>
    <option>Ch. 3<option>
    <option>Ch. 5<option>
    <option>Ch. 10<option>
    <option>Ch. 15<option>
    <option>KMSB<option>
    <option>KOLD<option>
    <option>Other<option>
  </select>
</section>
<section class="referral">
  <h3>Newspaper</h3>
  <select>
    <option>Phoenix<option>
    <option>Tuscon<option>
    <option>Other<option>
  </select>
</section>
<section class="referral">
  <h3>Referral</h3>
  <select>
    <option>Name<option>
  </select>
</section>
<section >
  <h3>Other</h3>
  <select>
    <option>Other<option>
  </select>
</section>
<section class="type">
  <h3>Insurance Type?</h3>
  <input type="text" name="name" >
</section>
<section>
  <label for="notes">Notes</label><br>
  <textarea name="notes" rows="8" cols="40"></textarea>
</section>
<a href="/appSched"><button type="button" name="button">Next</button></a>
