<h1>Other</h1>
<section class="referral">
  <h3>Medical</h3>
</section>
<section class="referral">
  <h3>Marketing</h3>
</section>
<section class="referral">
  <h3>Billing</h3>
</section>
<section>
  <h3>Unknown</h3>
</section>
<section class="type">
  <input type="text" name="name" placeholder="Give input" >
</section>
<section>
  <label for="notes">Notes</label><br>
  <textarea name="notes" rows="8" cols="40"></textarea>
</section>
<a href="/"><button type="button" name="button">Done</button></a>
