body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.newPatient {
  width: 20vw;
  height: 20vh;
  border: 2px solid #000;
  border-radius: 5px;
  display: inline-block;
  float: left;
}
.referral {
  width: 20vw;
  height: 30vh;
  display: inline-block;
  float: left;
}
.type{
  width: 30vw;
  height: 30vh;
}
