<div ng-controller="AppointmentSchedController">
  <h1>Appointment Scheduled?</h1>
  <section>
    <h3 ng-click="yes()" class="yuppers">Yes</h3>
    <h3 ng-click="no()" class="yuppers">No</h3><br>
  </section>
  <section ng-show="yesNo.showYes">
    <h3>Refferral Required?</h3>
    <button type="button" name="button">Yes</button>
    <button type="button" name="button">No</button>
    <p>PCP Info: <input type="text" name="name"></p>
    <p>Insurance Type: <input type="text" name="name"></p>
    <p>Appt. Date: <input type="text" name="name"></p>
    <label for="notes">Notes</label><br>
    <textarea name="notes" rows="8" cols="40"></textarea>
    <a ng-click="done()" href="#/"><button type="button" name="button">Done</button></a>
  </section>
  <section ng-show="yesNo.showNo">
    <p>Insurance Issue</p>
    <input type="text" name="name">
    <p>Other</p>
    <input type="text" name="name">
    <p>Does the patient need follow up?</p>
    <button type="button" name="button">Yes</button>
    <button type="button" name="button">No</button>
    <p>When? Date/Time</p>
    <input type="text" name="name">
    <label for="notes">Notes</label><br>
    <textarea name="notes" rows="8" cols="40"></textarea>
    <a ng-click="done()" href="#/"><button type="button" name="button">Done</button></a>
  </section>
</div>
