<div ng-controller="ExistingPatientController">
  <h1>Existing Patient</h1>
  <h2>What are they calling about?</h2>
  <h2>Please choose one of the following -</h2>
  <section class="referral">
    <h3 class="blue">Referral</h3>
  </section>
  <section class="referral">
    <h3 class="blue">Reschedule Appt</h3>
  </section>
  <section class="referral">
    <h3 class="blue">Billing</h3>
  </section>
  <section class="referral">
    <h3 class="blue">Other</h3>
  </section>
  <section class="type">
    <input type="text" name="name" placeholder="Give input" >
  </section>
  <section>
    <label for="notes">Notes</label><br>
    <textarea name="notes" rows="8" cols="40"></textarea>
  </section>
  <a class="done" href="/"><button type="button" name="button">Done</button></a>
</div>
